<!DOCTYPE html>
<html>
<head>
  <title>Multiple Users Chats</title>
  <script defer src="http://localhost:3003/socket.io/socket.io.js"></script>
  <script defer src="<%= globals.base_url %>api/public/javascripts/chat.js"></script>
  <link rel="stylesheet" type="text/css" href="<%= globals.base_url %>api/public/stylesheets/chat.css">
</head>
<body>
  <div>
    <img class="logo" src="<%= globals.base_url %>api/public/images/icons/logo.png">
  </div>

  <div id="room-container">
    <form action="http://localhost:3003/api/v1/viewdocs/room" id="chat-form" method="POST">
      <input type="number" name="user_id" placeholder="Add User ID" required>
      <select name="room_id" required>
        <option value="">Select room</option>
        <% rooms.forEach(function(room){  %>
          <option value="<%= room.id %>"> <%= room.name %> </option>      
        <% }); %>    
      </select>
      <button type="submit" value="room">Join Room</button>
    </form>
  </div>
</body>
</html>